[defaults]
vault_password_file = ~/.vault_password
become_password_file = ~/.user_password
roles_path = ~:$PWD/galaxy_roles:$PWD/roles:$PWD/submodules:~/.ansible/roles

[privilege_escalation]
become_user = root
